<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias type="baseball.domain.BaseballTeam" alias="BaseballTeam"/>
		<typeAlias type="baseball.domain.Player" alias="Player"/>
	</typeAliases>
	
</configuration>