<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="baseball.store.mapper.BaseballTeamMapper">
  	<resultMap type="BaseballTeam" id="baseballTeamMap">
		<id column="id" property="teamId"/>
		<result column="name" property="name"/>
		<result column="region" property="region"/>
		<result column="manager" property="manager"/>
		<result column="statium" property="statium"/>
		<result column="logo" property="logo"/>
		<!-- <collection property="players" column="id" ofType="Player"
			select="baseball.store.mapper.PlayerMapper.selectPlayersByTeamId" javaType="ArrayList"
			jdbcType="VARCHAR" /> -->
	</resultMap>
	
	<sql id="selectBaseballTeam">
  		SELECT id, name, region, manager, stadium, logo
		FROM team_tb
	</sql>
	
	<select id="selectBaseballTeamById" parameterType="String" resultMap="baseballTeamMap">
		<include refid="selectBaseballTeam"/>
		WHERE id = #{teamId}
	</select>
	
	<select id="selectAllBaseballTeams" resultMap="baseballTeamMap">
		<include refid="selectBaseballTeam"/>
	</select>
  </mapper>