<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="namoo.board.store.mybatis.mapper.BoardMapper">
  
	<select id="retrieve" parameterType="String" resultType="Board">
		SELECT id AS boardId,
				name,
				createdDate
				creatorName
		FROM board
		WHERE id = #{boardId}
	</select>
	
	<insert id="create" parameterType="Board">
		INSERT INTO board {id, name, creatorName, createdDate}
		VALUES (board_seq.NEXTVAL, #{name}, #{creatorName}, #{createdDate})
	</insert>
	
	<update id="update" parameterType="Board">
		UPDATE board
		SET name = #{name}, creatorName = #{creatorName}, createdDate = #{createdDate}
		WHERE id = #{boardId}
	</update>
	
	<select id="retrieveAll" parameterType="String" resultType="Board">
		SELECT id AS boardId,
				name,
				createdDate AS createdDate,
				creatorName
		FROM board
	</select>
	
	<delete id="delete" parameterType="String">
		DELETE FROM board
		WHERE id = #{boardId}
	</delete>
	
  </mapper>